@import url(../../css/reset.css);
@import url(../../css/common.css);

/* common------------------ */

.title_wrap {
  width: 30%;
  font-size: 50px;
  font-weight: 600;
}

.section_1 {
  padding: 150px 200px 0 200px;
}

h2 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 50px;
}

/* -------------------------- */

.section_2 {
  padding: 60px 200px 250px 200px;
}

.img_wrap {
  width: 100%;
  height: 500px;
  background-color: gray;
  margin-bottom: 150px;
  overflow: hidden;
}

.img_wrap img {
  object-fit: cover;
}

.container_2 {
  display: flex;
  justify-content: space-between;
}

.text_wrap_2 {
  width: 70%;
  line-height: 32px;
  letter-spacing: 2%;
  font-size: 20px;
  color: #999;
}

/* section_2 end ------------------- */

.section_3 {
  display: flex;
  height: 728px;
  margin-bottom: 150px;
}

.title_3 {
  width: 30%;
}

.container_3 {
  width: 70%;
  position: relative;
}

.line {
  width: 2px;
  height: 670px;
  background-color: #d9d9d9;
  position: absolute;
  top: 30px;
  left: 6.5px;
  z-index: 1;
}

.con_wrap_3 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.con {
  display: flex;
  align-items: flex-start;
}

.con .circle {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: #39b034;
  margin-right: 45px;
}

.con .year {
  font-size: 40px;
  font-weight: 500;
  margin-right: 80px;
}

.con_title {
  display: flex;
  align-items: center;
}

.text_wrap_3 {
  margin-top: 13px;
}

.text_wrap_3 .text {
  font-size: 23px;
  display: flex;
  gap: 95px;
  align-items: center;
  margin-bottom: 10px;
}

.text_wrap_3 p {
  color: #3c4240;
}

.text_wrap_3 .desc {
  color: #999;
}

.text_wrap_3 .p_80 {
  gap: 80px;
}

/* section_3 end */

.container {
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.floor {
  width: 115px;
  width: 115px;
  font-size: 50px;
  color: #999;
  padding: 20px 10px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;
}

.floor_active {
  color: #39b034;
  border-radius: 10px;
  border: 2px dashed #39b034;
}

.con_4 {
  height: 740px;
  display: flex;
  margin-left: 50px;
}

.img_wrap_4 {
  width: 856px;
  height: 100%;
  background-color: gray;
}

.desc_wrap {
  width: 500px;
  height: 100%;
  padding: 100px 50px;
  background-color: lightgray;
}

.floor_active {
  color: #39b034;
  border-radius: 10px;
  border: 2px dashed #39b034;
}

.con_4 {
  height: 740px;
  display: flex;
  margin-left: 50px;
}

.desc_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img_wrap_4 {
  width: 856px;
  height: 100%;
  background-color: gray;
}

.desc_wrap {
  width: 500px;
  height: 100%;
  padding: 100px 50px;
  background-color: lightgray;
}

.title_wrap_4 {
  font-size: 45px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.text_4 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.icon_desc_wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon_desc {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon_img {
  width: 25px;
}

/* section_4 end */
